<div class="container">
          <a class="btn btn-primary savedArticles" href="/saved">View Saved Articles</a>
{{!-- <div class="articleContainer"> --}}
    {{#each articles}}
      {{> article}}
  {{/each}}
{{!-- </div> --}}

</div>