<div class="container">
    <a class="btn btn-primary savedArticles" href="/">View All Articles</a>
{{!-- <div class="articleContainer"> --}}
    {{#each articles}}
      {{> savedComment}}
  {{/each}}
{{!-- </div> --}}

</div>

<script src="js/app.js"></script>